.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #fff;
}

/* LEFT BLUE PANEL */
.login-left {
  width: 45%;
  background-image: url("/assets/auth/login-bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-left-logo {
  width: 180px;
  margin-bottom: 10px;
}

.login-left-title {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

/* RIGHT SIDE */
.login-right {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 70%;
  max-width: 420px;
}

.login-label {
  font-size: 13px;
  margin-bottom: 4px;
  color: #333;
}

.login-register {
  color: #0C2548;
  font-weight: 600;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 900px) {
  .login-left {
    display: none;
  }

  .login-right {
    width: 100%;
  }
}
